.client__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form__field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    gap: 4px;
}

.label__title {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.form__input {
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-right: 15px;
    padding-left: 40px;
    padding-bottom: 12px;
    border: rgba(33, 33, 33, 0.2) solid 1px;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    
    &:focus {
        border: var(--accent-color) solid 1px;
    }
}

.new-client__icon {
    position: absolute;
    top: 32px;
    left: 15px; 
    fill: #212121;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__field:focus-within & {
        fill: var(--accent-color);
    }
}

.form__message {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: rgba(33, 33, 33, 0.2) solid 1px;
    border-radius: 4px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border: var(--accent-color) solid 1px;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}