.buttons__list {
    display: flex;
    justify-content: center;
    gap: 8px;
   
}

.buttons__item {
    cursor: pointer;
    background-color: var(--background-secondary-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
    
    display: inline-block;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    text-align: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
    
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }
}