.logo-address-block {
text-align: center;

@media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    text-align: start;
} 
}

.logo__studio--footer {
    color: var(--white-color);
}

.footer-address-block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    width: 232px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    } 
}

.footer__address {
    color: var(--white-color);
    margin-top: 28px;
}

.footer__item {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1 px;
    color: var(--white-color);
    opacity: 0.6;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.email {
    display: inline-block;
    margin-bottom: 12px;
    margin-top: 12px;
}