.header {
    border-bottom: solid 1px;
    border-color: #ECECEC;
}

.header-nav {
    max-width: 480px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        height: 80px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
    }
}