:root {
    --accent-color: #2196F3;
    --secondary-color: #757575;
    --white-color: #FFFFFF;
    --background-color: #2F303A;
    --background-secondary-color: #F5F4FA;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}